<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName>local</ServerName><LauncherName></LauncherName><ExternalBrowser></ExternalBrowser><UseStartPage>true</UseStartPage><StartPage useextension="false" >C:/inetpub/wwwroot/sigmaforums/build.xml</StartPage><Mappings></Mappings><VariableMappings></VariableMappings></ResourceDetails>